<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
        <script>
            function updateTaskStatus(taskId, checkbox) {
                fetch(`/tasks/update_status/${taskId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'completed': checkbox.checked
                    })
                }).then(response => {
                    if (!response.ok) {
                        alert('Failed to update task status.');
                    }
                });
            }
        </script>
    </head>
<body>
    <h1>Tasks</h1>
    <button onclick="location.href='add_task/'">Add Task</button>
    <ul>
        {% for task in latest_tasks_list %}
            <li>
                <input type="checkbox" {% if task.completed %}checked{% endif %} 
                        onchange="updateTaskStatus({{ task.id }}, this)">
                <a href="{% url '_tasks_app:task' task.id %}">{{ task.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>