{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tasks</title>
    </head>
<body>
    <h1>Tasks</h1>
    <button onclick="location.href='add_task/'">Add Task</button>
    <ul>
        {% for task in latest_tasks_list %}
            <li>
                <input type="checkbox" {% if task.completed %}checked{% endif %} 
                        onchange="updateTaskStatus({{ task.id }}, this)">
                <a href="{% url '_tasks_app:task' task.id %}">{{ task.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <script src="{% static '_tasks_app/script.js' %}"></script>
</body>
</html>