{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1 class="text-4xl font-bold mb-4">Welcome Vaclav!</h1>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
        @mouseover="button = 'Hovered!'"
        title="Click me to see the To Do List"
        onclick="window.location.href='/tasks/'">To Do List</button>
        <p>[[ message ]]</p> 
        <p>[[ button ]]</p> 
    </div>

        <script src="{% static '_homepage_app/index.js' %}"></script>
</body>
</html>

<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
    }
    h1 {
        color: #333;
    }
    p {
        color: #666;
    }
</style>